body {
  background-color: #171b26;
  height: 100vh;
  font-family: "Caveat", cursive;
  font-family: "Onest", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Rowdies", sans-serif;
}

ul {
  color: white;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  list-style: none;
  border-bottom: white 3px solid;
  max-width: 100vw;
}


li {
  margin-bottom: 10px;
  text-transform: capitalize;
}

form{
    color: white;
}

p{
    color: white;
}

h1{
    color: yellow
}

label{
    display: block;
}

.contactBody{
    max-width: 70rem;
    margin-left: auto;
  margin-right: auto;
}

#topImages{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cartoonSounds{
    max-width: 20rem;
}

.topContactText{
    text-align: center;
}

#imageBottom{
    display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
}

.contactBox{
    padding: 0.3rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    margin-top: 0.4rem;
    border: none;
    box-shadow:0 0 10px 2px red;
    width: 25rem;
}

textarea{
    padding: 0.3rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    margin-top: 0.4rem;
    border: none;
    box-shadow:0 0 10px 2px red;
    width: 50rem;
    height: 7rem;
}

select {
    padding: 0.3rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    margin-top: 0.4rem;
    border: none;
    box-shadow:0 0 10px 2px red;
    width: 20rem;
    font-size: 1rem;
  }

  #notSure{
    color: yellow;
    margin-top: 0rem;
    font-size: 1.5rem;
  }