body {
  background-color: #171b26;
  font-family: "Caveat", cursive;
  font-family: "Onest", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Rowdies", sans-serif;
  color: white;
  position: relative;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  border-bottom: white 3px solid;
  max-width: 100vw;
}


li {
  margin-bottom: 10px;
  text-transform: capitalize;
  transition: transform 1.5s ease; /* Set the transition for the transform property */
}

li:hover {
  transform: scale(1.2); /* Apply the transform property for the hover state */
}

.super-hero-main {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.bioBox {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 525px;
  border: 4px #29a587 solid;
  border-radius: 10px;
  padding: 15px;
}

h1,
h2,
p {
  text-align: center;
}

nav {
  height: 5%;
}

footer {
  max-width: 100vw;
  border-top: 1px solid white;
  height: 5%;
  text-align: center;
  padding: 10px;
}

.images {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.images > * {
  width: 200px;
  height: 200px;
  object-fit: fill;
}

.images :hover {
  scale: 1.5;
  transition: transform 1.5s ease;
}

.pictures {
  display: flex;
  flex-direction: column;
  width: 900px;
}

span {
  color: #29a587;
}
form {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

p {
  color: white;
  text-align: justify;
  
}

h1 {
  color: white;
}

label {
  display: block;
  font-size: 18px;
}

.contactBody {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  border: solid 10px#29a587;
  border-radius: 10px;
}

#topImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cartoonSounds {
  max-width: 20rem;
}

.topContactText {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

#strapline {
  font-size: 18px;
}

#imageBottom {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
}

.contactBox {
  padding: 0.3rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  margin-top: 0.4rem;
  border: none;
  box-shadow: 0 0 10px 2px #29a587;
  width: 400px;
}

textarea {
  padding: 0.3rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  margin-top: 0.4rem;
  border: none;
  box-shadow: 0 0 10px 2px #29a587;
  width: 400px;
  height: 7rem;
  font-size: 18px;
}

select {
  padding: 0.3rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  margin-top: 0.4rem;
  border: none;
  box-shadow: 0 0 10px 2px #29a587;
  width: 400px;
  font-size: 18px;
  font-family: "Caveat", cursive;
  font-family: "Onest", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Rowdies", sans-serif;
}

legend {
  font-size: 18px;
}

#notSure {
  color: white;
  margin-top: 0rem;
  font-size: 22px;
}

button {
  padding: 10px 30px;
  background-color: #29a587;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px #29a587;
  border: none;
  font-size: 18px;
  color: #171b26;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Caveat", cursive;
  font-family: "Onest", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Rowdies", sans-serif;
}

button.super-hero-btn {
  text-align: left;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 0px;
  background-color: transparent;
  box-shadow: none;
  padding-left: 10px;
  height: fit-content;
  
}

a {
  color: #fff;
  text-decoration: none;
  margin-right: 1px ;
  transition: margin-right 0.3s;
}

a:hover {
  margin-right: 15px;
  
}

i {
  color: #29a587;

}


#linkToTeam {
  color: #29a587;
}

#linkToTeam:hover {
  color: red;
}

.bioBox {
  display: flex;
}
.bioImage {
  max-width: 40rem;
}

.bio {
  padding: 10px
}

aside {
  padding: 10px;
  text-align: justify;
}

img {
  width: 90%;
  height: 100%;
}

.super-hero-image {
  width: 100%;
  display: flex;
  justify-content: center;
  transition: transform 1.5s; /* Apply transition in the default state */
}

.super-hero-image:hover {
  transform: scale(1.11); /* Apply scaling on hover */
}

p {
  text-transform: capitalize;
}

.super-hero-section {
  display: flex;
  column-gap: 40px;

}


.super-hero-main > *:not(:first-child) {
  margin-top: 40px;
}





